:root {
  --sky: #9fd5ff;
  --shadow: rgba(16, 82, 98, 0.25);
  --iron: #ccc;
  --stone: #555;
  --codap: #2596be;
}

body {
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  margin-left: 5px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

p {
  margin-left: 5px;
  font-size: 12px;
}

table {
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
  width: 462px;
  height: 130px;
  overflow-y: scroll;
  padding-right: 5px;
}

#dePrompts, #frPrompts {
  position: absolute;
  visibility: hidden;
}

td {
  border: 2px solid var(--codap);
  border-radius: 5px;
  padding: 5px;
  background-color: var(--sky);
  transition: 0.3s;
}

td:hover {
  cursor: pointer;
  border: 2px solid black;
}

textarea {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 450px;
  border: 2px solid var(--iron);
  border-radius: 5px;
  color: var(--stone);
  outline: none;
  transition: 0.3s ease-in-out;
}

textarea:focus {
  border-color: var(--ocean);
  box-shadow: 0 0 0 0.2rem var(--shadow);
}

textarea.highlighted {
  border-color: #52b788;
  box-shadow: 0 0 0 0.2rem var(--shadow);
}

textarea span {
  transition: color 0.2s;
}

textarea span.active {
  color: green;
}

input[type="checkbox"] {
  background-color: transparent;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

#preprocessingCheckboxes {
  display: flex;
}

label {
  font-size: 12px;
  margin-top: 8px;
  margin-right: 3px;
}

.info {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
  cursor: help;
}

.infoBubble {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--sky);
  padding: 10px 15px;
  width: 100px;
  border-radius: 5px;
  z-index: 10;
  font-size: 12px;
  border: 1px solid black;

  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.info:hover .infoBubble {
  opacity: 1;
}

.infoBubble::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  border: 8px solid transparent;
  border-top-color: var(--sky);
}

button {
  font-size: 11px;
  padding: 2.5px;
  background-color: var(--sky);
  border-radius: 15px;
  border-color: var(--codap);
  transition: 0.3s ease;
}

#preprocessingButton {
  height: 25px;
  margin-top: 7px;
}

#preprocessingButton, #classificationButton {
  width: 30px;
  border-radius: 10px;
  margin-left: 5px;
}

#bagOfWordsButton {
  width: 55px;
  margin-bottom: 15px;
}

.buttonDiv {
  margin: 10px 0px;
}

button:hover {
  border-color: black;
  cursor: pointer;
}

#logs {
  font-weight: bold;
}