:root {
  --herbal: #25a18e;
  --ocean: #00a5cf;
  --plunge: #004e64;
  --shadow: rgba(16, 82, 98, 0.25);
  --iron: #ccc;
  --stone: #555;
}

body {
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 15px;
}

#title {
  margin: 0;
}

input {
  padding: 3px;
  margin-right: 5px;
  border: 2px solid var(--iron);
  border-radius: 5px;
  font-size: 14px;
  color: var(--stone);
  outline: none;
  width: 310px;
  transition: 0.3s ease;
}

input:focus {
  border-color: var(--ocean);
  box-shadow: 0 0 0 0.2rem var(--shadow);
}

button {
  appearance: none;
  -webkit-appearance: none;

  padding: 2.5px;
  border-radius: 5px;
  border-color: var(--plunge);
  width: 60px;
  background-color: var(--ocean);
  font-size: 14px;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--herbal);
  cursor: pointer;
}

#urlBlock {
  position: relative;
  margin-top: 20px;
}

#logs {
  position: absolute;
  top: 43px;
  padding-left: 2px;
  font-size: 12px;
}

#logs.error {
  color: red;
}

#logs.warning {
  color: orangered;
}

#logs.warning {
  color: black;
}

.inline-child {
  display: inline-block;
}

#infoBlock {
  margin-top: 20px;
}

a {
  font-size: 13px;
  font-weight: bold;
  padding-right: 15px;
  color: var(--herbal);
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

a:visited {
  text-decoration: none;
  color: var(--herbal);
}

a:hover {
  text-decoration: none;
  color: var(--ocean);
}
